@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

.body {
  font-family: "DM Serif Text", serif;
  font-style: normal;
}


.italic {
  font-family: "DM Serif Text", serif ;
  font-style: italic !important;
}

